body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/aab98880-40d5-408c-8dde-073e8abebcdb/d5yluu4-4820e9e3-7fa6-43f0-b780-770891b91fd0.png/v1/fill/w_1024,h_576,q_75,strp/pikachu_w__logo_wallpaper_by_simplewallpapers-d5yluu4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9hYWI5ODg4MC00MGQ1LTQwOGMtOGRkZS0wNzNlOGFiZWJjZGIvZDV5bHV1NC00ODIwZTllMy03ZmE2LTQzZjAtYjc4MC03NzA4OTFiOTFmZDAucG5nIiwid2lkdGgiOiI8PTEwMjQiLCJoZWlnaHQiOiI8PTU3NiJ9XV19.Swg1xak7phI3d5J35jGT0024634vF335YDxEs0d0Ra8");
  /* background-image: url('../img/pokemon-background-1-mini.jpeg'); */
  background-size: 90%;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

/* ========================= */
/* ==== Panel Izquierdo ==== */

.pokedex-left {
  background-color: #fe0065;
  margin-right: 20px;
  height: 630px;
  width: 350px;
  padding: 20px;
  border: #000 solid 4px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 5px #000;
}

/* ======================= */
/* ==== Zona de Focos ==== */

.foquitos,
.leds-derecha {
  display: inline-flex;
}

.foco-grande-borde {
  position: relative;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  background-color: white;
  border: #000 solid 3px;
}

.foquito-grande {
  position: absolute;
  margin: 2px !important;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  background-color: #3298cb;
  border: #000 solid 3px;
}

.brillo {
  margin-top: 8px;
  margin-left: 10px;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  background-color: rgba(0, 255, 255, 0.5);
}

.foquitos-pequeños {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 288px;
  display: inline-flex;
  border-bottom: #000 solid 3px;
  -webkit-box-shadow: 2px 5px 6px -4px #000;
}

.foquitos-pequeños-rojo {
  margin-left: 10px;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background-color: #f00;
  border: #000 solid;
}

.foquitos-pequeños-amarillo {
  margin-left: 10px;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background-color: #fecb65;
  border: #000 solid;
}
.foquitos-pequeños-verde {
  margin-left: 10px;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background-color: #32cb65;
  border: #000 solid;
}
.brillito {
  margin-top: 3px;
  margin-left: 4px;
  border-radius: 100%;
  height: 6px;
  width: 6px;
  background-color: rgba(255, 255, 255, 0.7);
}

.linea {
  margin-left: -20px;
  margin-top: 10px;
  width: 89px;
  border-bottom: #000 solid 3px;
  -webkit-box-shadow: 0px 2px 1px #000;
}

.linea-diagonal {
  position: absolute;
  margin-left: 90px;
  margin-top: -39.5px;
  border-top: 3px solid #000;
  width: 45px;
  transform: rotate(120deg);
  transform-origin: 0% 0%;
  -webkit-box-shadow: 1px -2px 3px #000;
}

/* ========================== */
/* ==== Cuerpo Izquierdo ==== */

.marco-pantalla {
  /* display: inline-block; */
  position: absolute;
  background-color: #fff;
  margin: 20px;
  width: 310px;
  height: 310px;
  border-radius: 0 0 0 50px;
  border: #000 solid 4px;
}

.circulitos {
  display: inline-flex;
  margin-left: 130px;
}

.circulitos-rojos {
  margin-left: 10px;
  border-radius: 100%;
  height: 7px;
  width: 7px;
  background-color: #f00;
  border: #000 solid 1px;
}

.pantalla {
  width: 250px;
  height: 245px;
  margin: auto;
  margin-top: 5px !important;
  border: #000 solid 2px;
  border-radius: 10px;
  background-color: #98cb98;
}

.pokemonImagen {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-left: 20px;
}

.fondo-pantalla {
  display: inline-flex;
  margin: auto;
}

.circulo-rojo-dos {
  margin-top: 6px;
  margin-left: 40px;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background-color: #f00;
  border: #000 solid;
}

.brillo-dos {
  margin-top: 3px;
  margin-left: 4px;
  border-radius: 100%;
  height: 6px;
  width: 6px;
  background-color: rgba(255, 255, 255, 0.7);
}

.opciones {
  font-size: 30px;
  margin-left: 180px;
  margin-top: 3px;
}

.leds {
  display: inline-flex;
  margin-top: 350px;
  margin-left: 80px;
}

.led-rojo {
  width: 50px;
  height: 4px;
  margin-left: 30px;
  border-radius: 70px;
  background-color: #ff0100;
  border: #000 solid 3px;
}

.led-azul {
  width: 50px;
  height: 4px;
  margin-left: 30px;
  border-radius: 70px;
  background-color: #85bdfe;
  border: #000 solid 3px;
}

.joystick {
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 70px;
  background-color: #585858;
  border: #000 solid 3px;
  -webkit-box-shadow: 3px -2px 5px #000;
}

/* =============== */
/* ==== D-PAD ==== */

.dpad {
  display: inline-flex;
  width: 100px;
  height: 100px;
  margin-left: 220px;
  margin-top: -50px;
  /* filter: drop-shadow(7px 5px 5px #777); */
}

.boton-arriba,
.boton-derecha,
.boton-abajo,
.boton-izquierda,
.centro {
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #222;
  padding: 5px;
  background-color: #000;
}

.centro {
  margin-top: 40px;
  margin-left: 40px;
  background-color: #000;
}

.boton-arriba {
  top: 13px;
  left: -27px;
  -webkit-box-shadow: 3px -2px 5px 1px #000;
}

.boton-derecha {
  top: 40px;
  left: -55px;
  -webkit-box-shadow: 3px -2px 5px 1px #000;
}

.boton-abajo {
  top: 66px;
  left: -54px;
  -webkit-box-shadow: 3px -2px 5px #000;
}

.boton-izquierda {
  top: 40px;
  left: -130px;
  -webkit-box-shadow: 3px -2px 5px #000;
}

.flecha-arriba,
.flecha-derecha,
.flecha-abajo,
.flecha-izquierda {
  width: 0px;
  height: 0px;
  margin-top: 1px;
  margin-left: -4px;
}

.flecha-arriba {
  border-right: 12px solid transparent;
  border-bottom: 12px solid #585858;
  border-left: 12px solid transparent;
}

.flecha-derecha {
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #585858;
  margin-top: -4px;
  margin-left: 1px;
}

.flecha-abajo {
  border-top: 12px solid #585858;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}

.flecha-izquierda {
  border-top: 12px solid transparent;
  border-right: 12px solid #585858;
  border-bottom: 12px solid transparent;
  margin-top: -4px;
  margin-left: 1px;
}

.circulo-central {
  border-radius: 100%;
  margin: auto;
  width: 15px;
  height: 15px;
  background-color: #585858;
}

.footer {
  display: inline-flex;
}

.dots-individual > i {
  display: inline-flex !important;
  margin-left: 10px;
  font-size: 5px;
}

.pantalla-input {
  width: 150px;
  height: 45px;
  text-align: center;
  margin-left: 40px;
  margin-top: -10px !important;
  border: #000 solid 2px;
  border-radius: 10px;
  background-color: #98cb98;
}

.led-inferior {
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  background-color: #f00;
  border: #000 solid 2px;
}

.brillo-tres {
  margin-top: 2px;
  margin-left: 3px;
  border-radius: 100%;
  height: 6px;
  width: 6px;
  background-color: rgba(255, 255, 255, 0.7);
}

.dots {
  margin-top: 25px;
  margin-left: 10px;
}

/* =========
================== */
/* ====  Footer y Botones ==== */

/* ======================= */
/* ==== Panel Derecho ==== */

.pokedex-right {
  background-color: #fe0065;
  margin-top: 67px;
  margin-left: -19px;
  height: 562px;
  width: 350px;
  padding: 20px;
  border: #000 solid 4px;
  border-radius: 0px 0px 20px 20px;
  -webkit-box-shadow: 10px 10px 5px #000;
}

.corte-tapa {
  background-color: #fff;
  width: 105px;
  height: 0px;
  margin-top: -25px;
  margin-left: 245px;
  border-top: 40px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 20px solid #fe0065;
  
}

.linea-diagonal-derecha {
  position: absolute;
  width: 45px;
  border-top: 4px solid #000;
  margin-top: -22px;
  margin-left: 245px;
  transform: rotate(60deg);
  transform-origin: 0% 0%;
}

.linea-derecha {
  margin-left: 265px;
  margin-top: -2px;
  width: 107px;
  border-bottom: #000 solid 4px;
  -webkit-box-shadow: 0px 2px 1px #000;
}

/* ============================= */
/* ==== Pantalla Secundaria ==== */
.poke-pantalla-secundaria-1 {
  margin-top: 20px !important;
  border-top: #fff solid 3px !important;
  border-right: #fff solid 3px !important;
  border-left: #fff solid 3px !important;
  border-bottom: #000 solid 0px !important;
  border-radius: 10px 10px 0 0 !important;
}

.poke-pantalla-secundaria-2,
.poke-pantalla-secundaria-3,
.poke-pantalla-secundaria-4 {
  border-top: #000 solid 0 !important;
  border-right: #fff solid 3px !important;
  border-left: #fff solid 3px !important;
  border-bottom: #000 solid 0px !important;
}

.poke-pantalla-secundaria-5 {
  border-top: #000 solid 0 !important;
  border-right: #fff solid 3px !important;
  border-left: #fff solid 3px !important;
  border-bottom: #000 solid 0px !important;
}


.poke-pantalla-secundaria-1,
.poke-pantalla-secundaria-2,
.poke-pantalla-secundaria-3,
.poke-pantalla-secundaria-4,
.poke-pantalla-secundaria-5 {
  width: 250px;
  height: 30px;
  margin: auto;
  margin-top: 0px;
  margin-left: 50px;
  text-align: justify;
  color: #fff;
  border: 1px solid blue;
  background-color: #000;
  font-family: "Press Start 2P";
  font-size: 10px;
}

/* ========================= */
/* ==== Grid de botones ==== */
.grid-container {
  display: grid;
  width: 250px;
  margin-top: 10px;
  margin-left: 50px;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 1px;
  row-gap: 1px;
}

.grid-item {
  background-color: #7ca9f7;
  border: 1px solid #000;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 1px #000;
  /* -webkit-box-shadow: -2px -2px 3px -1px inset #000; */
}

.btn-sec-derecha {
  display: inline-flex;
  margin-left: 90px;
  margin-top: 15px;
}

.btn-sec-derecha-uno,
.btn-sec-derecha-dos {
  width: 50px;
  height: 4px;
  margin-left: 10px;
  border: #000 solid 1px;
  background-color: #585858;
  -webkit-box-shadow: 2px 2px 1px #000;
}

.leds-footer-derecha,
.footer-derecha-botones {
  display: flex;
  margin-top: 5px;
  margin-left: 8px;
}

.btn-uno,
.btn-dos {
  display: flex;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  border: #000 2px solid;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 1px #000;
}

.led-amarillo-derecha {
  margin-left: 150px;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  background-color: #fecb65;
  border: 3px #000 solid;
}

.brillo-cuatro {
  margin-top: 4px;
  margin-left: 5px;
  border-radius: 100%;
  height: 6px;
  width: 6px;
  background-color: rgba(255, 255, 255, 0.7);
}
